name: Build & Deploy master
on:
  push:
    branches:
      - master

jobs:
  mavenBuild:
    name: Maven build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up JDK 1.8
        uses: actions/setup-java@master
        with:
          java-version: 8
          distribution: 'adopt'
          check-latest: true
      - name: Build with Maven
        run: mvn clean install -B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
      - uses: google-github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.GCLOUD_AUTH }}
          export_default_credentials: true
      - run: gcloud --quiet --verbosity=warning --project=gwt-oauth2 app deploy sample/sample-server/target/sample-server-1.2 --promote --version=1-2
